# Exclude everything
/*

# Except for default project files
!/.github
!/build-aux
!/cmake
!/data
!/packages
!/src
!/triplets
!.clang-format
!.cmake-format.json
!.gitignore
!.prettierignore
!.prettierrc
!buildspec.json
!buildspec.yml
!CMakeLists.txt
!CMakePresets.json
!LICENSE
!package-lock.json
!package.json
!README.md
!tsconfig.json
!vcpkg-configuration.json
!vcpkg.json

# Exclude lock files
*.lock.json

# Exclude macOS legacy resource forks
.DS_Store

# Exclude CMake build number cache
/cmake/.CMakeBuildNumber
